certifi
charset-normalizer
colorama
et-xmlfile
idna
iniconfig
numpy
openpyxl
packaging
pandas
patsy
pluggy
pytest
python-dateutil
pytz
requests
scipy
setuptools
six
statsmodels
tzdata
urllib3
pandas
matplotlib